# Dependencies
node_modules
.pnp
.pnp.js

# Build output
.next
out
dist
build

# Env / secrets
.env
.env*.local
.env.production
!.env.example

# Vercel
.vercel

# IDE / OS
.idea
.vscode
.DS_Store
*.swp

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Drizzle
drizzle/.cache

# TypeScript
*.tsbuildinfo
next-env.d.ts
